.contactSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contact {
  background-color: var(--color-principal);
  text-align: center;
  width: 100%;
}

.contactTitle {
  font-family: var(--font-type-principal);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 25px;
  color: var(--theme-color);
}

.contactEmail {
  text-decoration: none;
  color: var(--color-base);
  margin-bottom: 20px;
}
.contactEmail:hover {
  color: var(--theme-color);
}

.contactRedes img {
  text-align: center;
  margin: 20px 2px 0px 4px;
}
