* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-color: white;
  --color-complementario: #DF998A;
  --color-base: black;
  --color-principal: #ffa591;
  --box-shadow-color: #646464;
  --font-type-base: "Montserrat", sans-serif;
  --font-type-poppins: "Poppins", sans-serif;
  --font-type-principal: "Italiana", serif;
}

html{
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 190px;
}

section[id = experiences] {
  scroll-margin-top: 80px;
}

body {
  background-color: var(--theme-color);
  color: var(--color-base);
  font-family: var(--font-type-base);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 150px;
}

.horizontalPadding {
  padding-left: 25px;
  padding-right: 25px;
}
.verticalPadding {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 950px) {
  .horizontalPadding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .verticalPadding {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

.footer {
  z-index: 1;
  text-align: center;
  color: black;
  bottom: 0%;
  width: 100%;
  padding: 20px;
}

/*MOBILE */

@media (max-width: 950px) {
  .footer {
    box-shadow: none;
  }

  section[id] {
    scroll-margin-top: 120px;
  }
}
