* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-color: white;
  --color-font-principal: #2b299b;
  --color-font-básico: black;
  --color-font-especial: #f58a72;
  --box-shadow-color: #646464;
  --font-type-principal: "Montserrat", sans-serif;
  --font-type-poppins: "Poppins", sans-serif;
  --font-type-especial: "Italiana", serif;
}

body {
  background-color: var(--theme-color);
  color: var(--color-font-especial);
  font-family: var(--font-type-principal);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 150px;
}

div {
  min-height: 80%;
}

/*SECTION PROFILE*/
.profile{
  text-align: center;
}

/* TITULO PRINCIPAL */

.profileTitle {
  
  font-weight: bold;
  font-size: 35px;
  margin: 0px;
  font-family: var(--font-type-especial);
}

.profileTitleBlack {
  color: var(--color-font-básico);
  display: inline;
}

/* TEXTO PRINCIPAL */

.descriptionProfile {
  color: var(--color-font-básico);
  font-weight: 500;
  text-align: justify;
  margin: 24px 100px;
}

/*IMG PRINCIPAL*/

.profileImg{
  width: 80%;
  max-width: 350px;
  padding-bottom: 50px;
}

/* FOOTER */

.footer {
  position: fixed;
  text-align: center;
  background-color: black;
  bottom: 0%;
  width: 100%;
  box-shadow: 0px -7px 21px 2px rgba(100,100,100,0.84);
-webkit-box-shadow: 0px -7px 21px 2px rgba(100,100,100,0.84);
-moz-box-shadow: 0px -7px 21px 2px rgba(100,100,100,0.84);
}
