/*SECTION PROFILE*/
.profile {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

/* TITULO PRINCIPAL */

.profileTitle {
  font-weight: bold;
  font-size: 35px;
  margin: 0px;
  font-family: var(--font-type-principal);
  color: var(--color-principal);
}

.profileTitleBlack {
  color: var(--color-base);
}

/* TEXTO PRINCIPAL */

.descriptionProfile {
  color: var(--color-font-base);
  font-family: var(--font-type-base);
  line-height: 1.5;
  font-size: 18px;
  max-width: 450px;
  margin: 20px auto;
  font-weight: 500;
}

/*BOTÓN PRINCIPAL*/

.profileBtn {
  font-family: var(--font-type-base);
  font-weight: 500;
  font-size: 18px;
  background-color: white;
  color: black;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: 0.1s;
  border: none;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 25px;
  border: solid 0.5px var(--color-principal);
  /*box-shadow: 0px 10px 14px -7px var(--box-shadow-color);*/
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(245, 138, 114, 0.51);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(245, 138, 114, 0.51);
  -moz-box-shadow: 0px 4px 10px 0px rgba(245, 138, 114, 0.51);
}

.profileBtn:hover {
  background: var(--color-principal);
  transition-delay: 1s;
  border: none;
  box-shadow: none;
  color: white;
}

.profileBtn span {
  position: absolute;
  display: block;
  border-radius: 20px;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--color-principal));
}
.profileBtn:hover #span1 {
  left: 100%;
  transition: 1s;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--color-principal));
}
.profileBtn:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-principal));
}
.profileBtn:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--color-principal));
}
.profileBtn:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/*IMG PRINCIPAL*/

.profileImg {
  width: 80%;
  max-width: 350px;
  margin-top: 30px;
}

@media (min-width: 950px) {
  .profile {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0px auto;
  }

  .profileImg {
    width: 100%;
    max-width: 400px;
    transform: scaleX(-1);
  }

  .profileTitle {
    font-size: 46px;
    margin: 0px 80px 20px 0px;
  }

  .descriptionProfile {
    text-align: justify;
    font-size: 20px;
    max-width: 450px;
    margin: 30px 0px 20px 0px;
  }

  .profileBtn {
    font-size: 22px;
    margin: 25px 0px 0px 0px;
  }
}
